<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="/static/code/highcharts.js"></script>
    <script src="/static/code/highcharts-more.js"></script>
    <script src="/static/code/modules/exporting.js"></script>
</head>
<body>
<input id="symbol" type="text" value="US.BABA">
from: <input id="fromtime" type="date" value="2018-01-01">
to: <input id="totime" type="date" value="2020-01-01">
<input type="button" value="GetData" onclick="GetData()">
<div id="Chart1" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
<div id="Chart2" style="min-width: 310px; max-width: 800px; height: 1800px; margin: 0 auto"></div>
<script>
    function makeChart1(data) {
        var ranges = data.ranges, averages = data.averages;

        Highcharts.chart('Chart1', {
            title: {
                text: 'July temperatures'
            },
            xAxis: {
                type: 'int'
            },
            yAxis: {
                title: {
                    text: null
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true,
                valueSuffix: '°C'
            },
            legend: {
            },
            series: [
                {
                name: 'Temperature',
                data: averages,
                zIndex: 1,
                marker: {
                    fillColor: 'white',
                    lineWidth: 2,
                    lineColor: Highcharts.getOptions().colors[0]
                }},
                {
                name: 'Range',
                data: ranges,
                type: 'arearange',
                lineWidth: 0,
                linkedTo: ':previous',
                color: Highcharts.getOptions().colors[0],
                fillOpacity: 0.3,
                zIndex: 0,
                marker: {
                    enabled: false
                }
            }]
        });
    }
    function makeChart2(data) {
        var categories = data.categories;
        var up_values = data.up_values;
        var down_values = data.down_values

        Highcharts.chart('Chart2', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Price pyramid'
            },
            subtitle: {
                text: ''
            },
            xAxis: [{
                categories: categories,
                reversed: false,
                labels: {
                    step: 1
                }
            },
                { // mirror axis on right side
                opposite: true,
                reversed: false,
                categories: categories,
                linkedTo: 0,
                labels: {
                    step: 1
                }
            }],
            yAxis: {
                title: {
                    text: null
                },
                labels: {
                    formatter: function () {
                        return Math.abs(this.value) + '';
                    }
                }
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + ', price ' + this.point.category + '</b><br/>' +
                        'Volume: ' + Highcharts.numberFormat(Math.abs(this.point.y), 0);
                }
            },

            series: [{
                name: 'Down',
                data: down_values
            }, {
                name: 'Up',
                data: up_values,
                marker:{fillColor: 'Red'}
            }]
        });
    }
    function GetData() {

        d = {"symbol":$("#symbol").val(),"fromtime":$("#fromtime").val(),"totime":$("#totime").val()};
        $.ajax({
        type: "post",
        dataType: 'json',
        url: "/chart1",
        contentType: 'application/json',
        data: JSON.stringify(d),
        success: function (data) {
            makeChart1(data);
        }
        });

        $.ajax({
        type: "post",
        dataType: 'json',
        url: "/chart2",
        contentType: 'application/json',
        data: JSON.stringify(d),
        success: function (data) {
            makeChart2(data);
        }
        });
    }
</script>
</body>
</html>